/* Gerais */
:root {
    --color-highOrange: #F48C06;
    --color-middleOrange: #FBA333;
    --color-lowOrange: #F4C467;
}

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0px;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background: linear-gradient( .25turn, var(--color-highOrange), 55%,  var(--color-lowOrange));
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 150px;
    margin-left: 20px;
}

.navbar-brand {
    padding: 0;
    color: black;
}
.navbar-brand:hover {
    color: black;
}
#navbar-links a {
    color: #333232;
    font-weight: bold;
    font-size: 19px;
}
#navbar-links a:hover {
    color: white;
    transition: 200ms;
}
#gestao-menu {
    opacity: 0.95;
}
#analise-menu {
    opacity: 0.85;
}
#dev-menu {
    opacity: 0.75;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1.9rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn {
    background-color: var(--color-highOrange);
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: var(--color-highOrange);
}

.carousel-indicators .active {
    background-color: var(--color-highOrange);
}

.carousel-item img {
    filter: blur(1px) brightness(40%);
}

/* Sobre a Empresa */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}
.main-title::after {
    content: "";
    border-top: 2px solid var(--color-highOrange);
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 25px;
}

#about-list i {
    color: var(--color-highOrange);
    margin-right: 15px;
    font-size: 16px;
}

/* Projects */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: var(--color-highOrange);
}

/* Dados */

.circle-box div {
    padding: 0  40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: white;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Equipe */

.card-body {
    text-align: center;
}

/* Solicitação de melhoria */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url(/pics/predioNormatel.png);
    background-size: cover;
    height: 100%;
}
#pattern-img h4, #pattern-img p {
    color: #FFF;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#pattern-img p {
    margin-bottom: 20px;
    font-size: 15px;
}

#apply-btn {
    display: block;
    height: auto;
    margin: 57px auto auto auto;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover {
    border-color: var(--color-highOrange);

}