<!DOCTYPE html>
<html lang="pt - br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normalabs</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Font Awesome -->

    <!-- Progress Bar -->
    <script src="/js/progressbar.min.js"></script>

    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container" id="nav-container">
            <nav class="navbar navbar-expand-lg fixed-top">
                <a href="#" class="navbar-brand">
                    <img id="logo" src="/pics/logo_normaLabs 1.png" alt="logo Normalabs">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="colapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expended="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link" id="home-menu">Início</a>
                        <a href="#" class="nav-item nav-link" id="gestao-menu">Gestão Normalabs</a>
                        <a href="#" class="nav-item nav-link" id="analise-menu">Análise de Negócios</a>
                        <a href="#" class="nav-item nav-link" id="dev-menu">Desenvolvimento</a>
                    </div>
                </div>
                
            </nav>
        </div>
    </header>

    <main>
        <div class="container-fluid">
            <div id="mainSlider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#mainSlider" data-slide="0" class="active"></li>
                    <li data-target="#mainSlider" data-slide="1"></li>
                    <li data-target="#mainSlider" data-slide="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/pics/conheca.jpeg" class="d-block w-100" alt="Conheça NormaLabs">
                        <div class="caroulsel-caption d-none d-md-block">
                            <h2>Conheça a NormaLabs</h2>
                            <p>Organization focused on innovation and development.</p>
                            <a href="#" class="main-btn">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="/pics/projetos.jpeg" class="d-block w-100" alt="Projetos">
                        <div class="caroulsel-caption d-none d-md-block">
                            <h2>Nossos projetos</h2>
                            <p>Projects designed by our team to solve real problems.</p>
                            <a href="#" class="main-btn">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="/pics/equipe.png" class="d-block w-100" alt="Equipe do NormaLabs">
                        <div class="caroulsel-caption d-none d-md-block">
                            <h2>Nosso time</h2>
                            <p>Members responsible for the activities of NormaLabs.</p>
                            <a href="#" class="main-btn">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="/js/scripts.js"></script>
</body>
</html>